<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View detail</title>
</head>
<body>
<form th:action="@{/rent/{id}(id=${book.id})}" method="post" th:object="${user}">
<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td th:text="${book.id}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td th:text="${book.quantity}"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
        <td>
            <button type="submit">Mượn</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>